.word-grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	gap: 5px;
	margin-inline: auto;
	/* Fallback */
	width: 20em;
	width: min-content;

	&[data-grid-state='enabled'] {
		outline: 5px solid yellowgreen;
		outline-offset: 5px;
		border-radius: 8px;
	}
	/* &:focus {
		outline-color: aqua;
	} */
}

.word-container {
	display: inline-flex;
	gap: 1rem;
}
